# Study 3 Data Preparation
### Predictors from Wave 7, self-harm, suicidal ideation and attempts from Wave 8

In [6]:
import pip
import pyreadstat
import pandas as pd
import numpy as np
pd.options.display.max_rows = 20
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [9]:
#Importing the necessary data files
df8=pd.read_csv('~/OneDrive - UNSW/Documents/lsac-data/w78pmn.csv')
lsac8, meta=pyreadstat.read_sas7bdat('~/OneDrive - UNSW/Documents/lsac-data/lsacgrk18.sas7bdat')

In [3]:
#Extract SITB outcomes from Wave 8 to link to Wave 7 data
sitbs=lsac8[['hicid', 'jhs54b', 'jhs54c', 'jhs54d', 'jhs54g']]
#Outcome was coded as 1 Yes 2 No; recode to 0 No 1 Yes
sitbs=sitbs.rename(columns={'jhs54b':'sh', 'jhs54c':'si', 'jhs54d':'sp' 'jhs54g':'nssi'})
for column in sitbs[1::]:
    sitbs[column].value_counts(dropna=False)
sitbs=sitbs.replace({2:0})
#Creating a dataframe with all SITBs 
df_all=pd.merge(df8, sitbs, how='inner', on='hicid')

51101040.0    1
73312029.0    1
73311903.0    1
73311936.0    1
73311937.0    1
             ..
62106607.0    1
62106608.0    1
62106619.0    1
62106624.0    1
88117433.0    1
Name: hicid, Length: 3037, dtype: int64

 2.0    2417
-9.0     381
 1.0     230
-3.0       9
Name: sh, dtype: int64

 2.0    2358
-9.0     381
 1.0     291
-3.0       7
Name: si, dtype: int64

-9.0    2961
 1.0      54
 2.0      22
Name: nssi, dtype: int64

In [6]:
pd.crosstab(index=df_all['nssi'], columns=df_all['att'], dropna=False, margins=True)
pd.crosstab(index=df_all['nssi'], columns=df_all['sh'], dropna=False, margins=True)

att    0.0  1.0   All
nssi
-9.0  2328   41  2369
0.0      0   15    15
1.0      0   49    49
All   2328  105  2433

sh    -3.0   0.0  1.0   All
nssi
-9.0     5  2226  138  2369
0.0      0     0   15    15
1.0      0     0   49    49
All      5  2226  202  2433

In [104]:
df_all

,hicid,fd20a1,fd20c4,pe05c,pe06c2,fd24c1,f13ip1,f17ip1,f17zip1,f17aip1,...,hos,y9test,y9gram,y9num,y9read,y9spel,y9write,sh,si,nssi
0,51101040.0,-9.0,-9.0,-9.0,-9.0,-9.0,1.0,2.0,2.0,0.0,...,0.0,2014.0,501.9,619.7,528.7,561.7,617.6,1.0,1.0,-9.0
1,51101041.0,-9.0,-9.0,-9.0,-9.0,-9.0,2.0,1.0,1.0,0.0,...,0.0,2014.0,488.4,498.1,507.7,542.8,594.5,0.0,0.0,-9.0
2,51101046.0,-9.0,-9.0,-9.0,-9.0,-9.0,1.0,2.0,2.0,0.0,...,0.0,2014.0,554.0,577.6,619.1,561.7,594.5,0.0,0.0,-9.0
3,51101053.0,-9.0,-9.0,-9.0,-9.0,-9.0,1.0,2.0,2.0,0.0,...,0.0,2014.0,709.6,636.6,582.8,723.7,594.5,0.0,0.0,-9.0
4,51101060.0,-9.0,-9.0,-9.0,-9.0,-9.0,2.0,1.0,1.0,0.0,...,0.0,2013.0,561.4,-9.0,284.9,558.8,570.3,0.0,0.0,-9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2428,88116100.0,-9.0,-9.0,-9.0,-9.0,-9.0,1.0,2.0,2.0,0.0,...,0.0,-9.0,-9.0,-9.0,-9.0,-9.0,-9.0,0.0,1.0,-9.0
2429,88116142.0,-9.0,-9.0,-9.0,-9.0,-9.0,2.0,1.0,1.0,0.0,...,0.0,2013.0,678.0,746.0,593.0,673.0,582.5,0.0,0.0,-9.0
2430,88116585.0,-9.0,-9.0,-9.0,-9.0,-9.0,1.0,2.0,2.0,0.0,...,0.0,2014.0,609.4,608.8,575.9,552.3,676.0,0.0,0.0,-9.0
2431,88116874.0,-9.0,-9.0,-9.0,-9.0,-9.0,1.0,2.0,2.0,0.0,...,2.0,2014.0,661.1,704.2,709.0,657.6,715.7,0.0,0.0,-9.0
2432,88117433.0,-9.0,-9.0,-9.0,-9.0,-9.0,2.0,1.0,1.0,0.0,...,0.0,2014.0,594.7,614.2,662.3,621.9,523.2,0.0,0.0,-9.0

In [3]:
df_all=pd.read_csv('df_all.csv')
#Create cross-tabs of outcomes
pd.crosstab(index=df_all['sh'], columns=df_all['si'], dropna=False, margins=True)
pd.crosstab(index=df_all['att'], columns=df_all['sh'], dropna=False, margins=True)
pd.crosstab(index=df_all['att'], columns=df_all['si'], dropna=False, margins=True)
df_all['sitbs']=0
for column in df_all[['att', 'sh', 'si']]:
    df_all['sitbs']=np.where(df_all[column]==1, 1, df_all['sitbs'])
#Dropping any participant which refused to answer any sitb-related questions
df_all=df_all.drop(df_all[df_all.sh<0].index)
df_all=df_all.drop(df_all[df_all.si<0].index)
for column in df_all[['att', 'sh', 'si', 'sitbs']]:
    df_all[column].value_counts()

si    0.0  1.0   All
sh
0.0  2095  131  2226
1.0    72  130   202
All  2167  261  2428

sh    0.0  1.0   All
att
0.0  2185  138  2323
1.0    41   64   105
All  2226  202  2428

si    0.0  1.0   All
att
0.0  2144  179  2323
1.0    23   82   105
All  2167  261  2428

0.0    2323
1.0     105
Name: att, dtype: int64

0.0    2226
1.0     202
Name: sh, dtype: int64

0.0    2167
1.0     261
Name: si, dtype: int64

0    2075
1     353
Name: sitbs, dtype: int64

In [107]:
#Dropping features with less than 5% of positive responses to reduce the number of redundant features
pd.set_option('display.max_rows', 2000)
df_all2=df_all.select_dtypes(include=['int64'])
dropcols=list(df_all2.columns[df_all2.mean(axis=0)<0.05])

In [108]:
df_all.columns.get_loc("A01")
df_all.columns.get_loc("hos")

1331

1399

In [109]:
df_all3=df_all.iloc[:, 1331:1400]
droppbs=df_all3.columns[df_all3.mean(axis=0)<0.05]

In [128]:
df_all3.shape
droppbs
droppbs.shape

(2428, 69)

Index(['A01', 'A02', 'A03', 'A04', 'A06', 'A07', 'A09', 'A10', 'A11', 'B01',
       'B02', 'B03', 'C01', 'C02', 'C03', 'C07', 'C08', 'C09', 'C10', 'D01',
       'D05', 'D06', 'D11', 'G02', 'G04', 'H01', 'H02', 'H03', 'H04', 'J02',
       'J04', 'J05', 'L01', 'L02', 'L04', 'M01', 'M03', 'M04', 'N03', 'N04B',
       'N05A', 'N05B', 'N05C', 'N07B', 'P02', 'P03', 'R01', 'R05', 'R07',
       'S01', 'S02', 'S03', 'V01', 'V06'],
      dtype='object')

(54,)

In [97]:
#Creating the final dataset with redundant features dropped
#s for small
df_alls=df_all.drop(dropcols, axis=1)
df_alls=df_alls.drop(droppbs, axis=1)

In [5]:
df_alls

,fd20a1,fd20c4,pe05c,pe06c2,fd24c1,f13ip1,f17ip1,f17zip1,f17aip1,f17bip1,...,y9test,y9gram,y9num,y9read,y9spel,y9write,sh,si,nssi,sitbs
0,-9.0,-9.0,-9.0,-9.0,-9.0,1.0,2.0,2.0,0.0,0.0,...,2014.0,501.9,619.7,528.7,561.7,617.6,1.0,1.0,-9.0,1
1,-9.0,-9.0,-9.0,-9.0,-9.0,2.0,1.0,1.0,0.0,1.0,...,2014.0,488.4,498.1,507.7,542.8,594.5,0.0,0.0,-9.0,0
2,-9.0,-9.0,-9.0,-9.0,-9.0,1.0,2.0,2.0,0.0,0.0,...,2014.0,554.0,577.6,619.1,561.7,594.5,0.0,0.0,-9.0,0
3,-9.0,-9.0,-9.0,-9.0,-9.0,1.0,2.0,2.0,0.0,0.0,...,2014.0,709.6,636.6,582.8,723.7,594.5,0.0,0.0,-9.0,0
4,-9.0,-9.0,-9.0,-9.0,-9.0,2.0,1.0,1.0,0.0,0.0,...,2013.0,561.4,-9.0,284.9,558.8,570.3,0.0,0.0,-9.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2423,-9.0,-9.0,-9.0,-9.0,-9.0,1.0,2.0,2.0,0.0,0.0,...,-9.0,-9.0,-9.0,-9.0,-9.0,-9.0,0.0,1.0,-9.0,1
2424,-9.0,-9.0,-9.0,-9.0,-9.0,2.0,1.0,1.0,0.0,0.0,...,2013.0,678.0,746.0,593.0,673.0,582.5,0.0,0.0,-9.0,0
2425,-9.0,-9.0,-9.0,-9.0,-9.0,1.0,2.0,2.0,0.0,0.0,...,2014.0,609.4,608.8,575.9,552.3,676.0,0.0,0.0,-9.0,0
2426,-9.0,-9.0,-9.0,-9.0,-9.0,1.0,2.0,2.0,0.0,0.0,...,2014.0,661.1,704.2,709.0,657.6,715.7,0.0,0.0,-9.0,0
2427,-9.0,-9.0,-9.0,-9.0,-9.0,2.0,1.0,1.0,0.0,0.0,...,2014.0,594.7,614.2,662.3,621.9,523.2,0.0,0.0,-9.0,0

In [6]:
df_alls=pd.read_csv('df_alls.csv')
df_alls=df_alls.drop(columns=['Unnamed: 0', 'hicid'])
Xfull=df_alls.drop(columns=['att','sh', 'si', 'nssi', 'sitbs'])
yfull_all=df_alls[['sh', 'att', 'si', 'nssi', 'sitbs']]

In [10]:
#Split the data and only perform model development on the 70% training data from here onwards
from sklearn.model_selection import train_test_split
X, X_hold, y, y_hold=train_test_split(Xfull, yfull_all, test_size=0.30, random_state=26, stratify=yfull_all)
X.to_csv('X.csv', index=False)
X_hold.to_csv('X_hold.csv', index=False)
y.to_csv('y.csv', index=False)
y_hold.to_csv('y_hold.csv', index=False)

In [14]:
#Preparing the outcome datasets for all four models
y_sitbs=y.drop(columns=['sh', 'att', 'si', 'nssi'])
y_sh=y.drop(columns=['att', 'si', 'nssi', 'sitbs'])
y_att=y.drop(columns=['sh', 'si', 'nssi', 'sitbs'])
y_si=y.drop(columns=['sh', 'att', 'nssi', 'sitbs'])
y_sitbs_hold=y_hold.drop(columns=['sh', 'att', 'si', 'nssi'])
y_sh_hold=y_hold.drop(columns=['att', 'si', 'nssi', 'sitbs'])
y_att_hold=y_hold.drop(columns=['sh', 'si', 'nssi', 'sitbs'])
y_si_hold=y_hold.drop(columns=['sh', 'att', 'nssi', 'sitbs'])
y_sitbs.to_csv('y_sitbs.csv', index=False)
y_sitbs_hold.to_csv('y_sitbs_hold.csv', index=False)
y_sh.to_csv('y_sh.csv', index=False)
y_sh_hold.to_csv('y_sh_hold.csv', index=False)
y_att.to_csv('y_att.csv', index=False)
y_att_hold.to_csv('y_att_hold.csv', index=False)
y_si.to_csv('y_si.csv', index=False)
y_si_hold.to_csv('y_si_hold.csv', index=False)

In [4]:
X=pd.read_csv('X.csv')
#Imputing the training set
# explicitly require this experimental feature
from sklearn.experimental import enable_iterative_imputer  
# now you can import normally from sklearn.impute
from sklearn.impute import IterativeImputer
imputer=IterativeImputer(random_state=26)
imputer.fit(X)
Xi=X
Xi[:]=imputer.transform(Xi)

IterativeImputer(random_state=26)

In [5]:
#Imputing the holdout set
X_hold=pd.read_csv('X_hold.csv')
from sklearn.experimental import enable_iterative_imputer  
# now you can import normally from sklearn.impute
from sklearn.impute import IterativeImputer
imputer=IterativeImputer(random_state=26)
imputer.fit(X_hold)
Xi_hold=X_hold
Xi_hold[:]=imputer.transform(Xi_hold)

IterativeImputer(random_state=26)

In [6]:
#Scaling the training dataset
from sklearn import preprocessing
scaler=preprocessing.StandardScaler()
#Storing the numerical columns in a list
nums=['perapp',	'peravoid',	'mastavoid',	'mastapp',	'peerpos',	'peermoral',	'peerpostot',	'hb16c12',	'hb16c12a',	'hb15c10',	'hb15c10a',	'hb26c2',	'hb26c2a',	'hb28c3',	'hb27c2',	'hb16c15b',	'hb31c2',	'hb16c15d',	'se27c1',	're23c1',	'hb16c10',	'calcharm',	'he17c2b2',	'he06c2b2',	'he06c3b2',	'tvweek',	'egweek',	'aanga',	'banga',	'aarga',	'barga',	'pw09a',	'pw09b',	'pw09c',	'pw09a',	'pw09b',	'aextra',	'aagree',	'aconsc',	'aneuro',	'aopen',	'cextra',	'cagree',	'cconsc',	'cneuro',	'copen',	'bextra',	'bagree',	'bconsc',	'bneuro',	'bopen',	'bodyfat',	'cbmi',	'chu9d',	'hb15c13',	'acons',	'bcons',	'bcopar',	'smfq',	'fp06c3',	'fp06c4',	'cfout',	'agambf',	'chshipc',	'ahendb',	'bhendb',	'fn13c10',	'airc',	'birc',	'bk6s',	'atotss',	'fd04c',	'pw04c2',	'noldsib',	'npeople',	'nsasib',	'nsib',	'nyngsib',	'oral',	'asupport',	'bsupport',	'beffic',	'sc11c3c',	'sc11b3c',	'pedsef',	'pedsphy',	'pedspse',	'pedspsd',	'pedspsc',	'pedste',	'pedstd',	'pedstc',	'pedssof',	'pedsscd',	'pedsscc',	'pedsphyb',	'cnfp16',	'fp02c2a',	'hs53a1a',	'apgsi',	'pssm',	'cresl',	'fn13p',	'acondb',	'ccondb',	'bcondb',	'bpsoc',	'aemot',	'cemot',	'bemot',	'ahypr',	'chypr',	'bhypr',	'apeer',	'cpeer',	'bpeer',	'apsoc',	'cpsoc',	'csdqtb',	'bsdqtb',	'cnfsad2',	'sle',	'hb14c2',	'hb13c2b',	'hb13c1b',	'ho06c5',	'numcond',	'hinci',	'hs23c3', 'A01',	'A02',	'A03',	'A04',	'A06',	'A07',	'A09',	'A10',	'A11',	'B01',	'B02',	'B03',	'C01',	'C02',	'C03',	'C07',	'C08',	'C09',	'C10',	'D01',	'D05',	'D06',	'D07',	'D10',	'D11',	'G02',	'G03',	'G04',	'H01',	'H02',	'H03',	'H04',	'J01',	'J02',	'J04',	'J05',	'L01',	'L02',	'L04',	'M01',	'M03',	'M04',	'N02',	'N03',	'N04B',	'N05A',	'N05B',	'N05C',	'N06A',	'N06B',	'N07B',	'P02',	'P03',	'R01',	'R03',	'R05',	'R07',	'S01',	'S02',	'S03',	'V01',	'V06',	'benefit',	'mhcp',	'psychol',	'psychia',	'gp',	'mbs',	'hos',	'y9test',	'y9gram',	'y9num',	'y9read',	'y9spel',	'y9write']
Xicols=Xi.columns.values.tolist()
nums2=list(set(Xicols) & set(nums))
numfs=Xi[nums2]
Xi[nums2]=scaler.fit_transform(numfs.values)
Xi.to_csv('Xi.csv')

In [7]:
#Scaling the holdout dataset
from sklearn import preprocessing
scaler=preprocessing.StandardScaler()
#Storing the numerical columns in a list
numhs=Xi_hold[nums2]
Xi_hold[nums2]=scaler.fit_transform(numhs.values)
Xi_hold
Xi_hold.to_csv('Xi_hold.csv')

,fd20a1,fd20c4,pe05c,pe06c2,fd24c1,f13ip1,f17ip1,f17zip1,f17aip1,f17bip1,...,psychia,gp,mbs,hos,y9test,y9gram,y9num,y9read,y9spel,y9write
0,-9.0,-9.0,-9.0,-9.0,-9.0,1.0,2.0,2.0,0.0,0.0,...,-0.086099,0.731623,0.270667,-0.141758,0.291578,0.145899,0.270545,0.761130,0.377012,0.301003
1,-9.0,-9.0,-9.0,-9.0,-9.0,1.0,2.0,2.0,0.0,0.0,...,-0.086099,0.423505,-0.213664,-0.141758,0.291578,0.349537,0.152064,0.390368,0.275942,0.642907
2,-9.0,-9.0,-9.0,-9.0,-9.0,1.0,2.0,2.0,0.0,0.0,...,-0.086099,-0.500851,-0.504263,-0.141758,0.291578,0.507331,0.369664,0.599739,0.605777,0.699237
3,-9.0,-9.0,-9.0,-9.0,-9.0,2.0,1.0,1.0,0.0,1.0,...,-0.086099,-0.500851,-0.310530,-0.141758,0.291578,-0.234353,-0.247178,-0.257133,-0.055373,-0.154051
4,-9.0,-9.0,-9.0,-9.0,-9.0,1.0,2.0,2.0,0.0,0.0,...,-0.086099,-0.500851,-0.601129,-0.141758,0.289737,0.461971,0.130857,-0.052608,0.576196,0.757528
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
724,-9.0,-9.0,-9.0,-9.0,-9.0,1.0,2.0,2.0,0.0,0.0,...,-0.086099,-0.192733,0.754999,-0.141758,0.289737,0.564755,0.868485,0.658867,0.298128,0.642907
725,-9.0,-9.0,-9.0,-9.0,-9.0,1.0,2.0,2.0,0.0,0.0,...,-0.086099,-0.808970,-0.697995,-0.141758,-3.433579,-2.634572,-2.528754,-2.653759,-2.680748,-2.536599
726,-9.0,-9.0,-9.0,-9.0,-9.0,1.0,2.0,2.0,0.0,0.0,...,-0.086099,1.039742,0.270667,-0.141758,0.291578,-0.105511,-0.012981,-0.115129,-0.564671,-0.097231
727,-9.0,-9.0,-9.0,-9.0,-9.0,1.0,2.0,2.0,0.0,0.0,...,-0.086099,3.812810,3.951584,1.993402,0.291578,0.599016,0.395020,-2.653759,0.672336,0.360763
728,-9.0,-9.0,-9.0,-9.0,-9.0,1.0,2.0,2.0,0.0,0.0,...,-0.086099,1.655980,1.336196,2.420434,0.291578,0.599016,0.653651,0.761130,0.429766,0.360763